@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jost text-gray-900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-cormorant;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
